* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0eb;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: grid;
  font-size: 16px;
  background-image: url('./bg.svg');
  background-repeat: no-repeat;
  background-size: cover
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 50px 15px;
  background-image: url('./detalhe.svg');
  background-repeat: no-repeat;
  background-size: 5rem;
  background-position: 2% 85%;
}

button {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  cursor: pointer;
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

label {
  visibility: hidden;
  position: absolute;
}

h1 {
  color: #363838;
  font-size: 48px;
  margin: 0;
  margin-bottom: 30px;
}

.titulo p,
.titulo a {
  color: #363838;
  text-decoration: none;
}

.conversor-container {
  background: #f8fafa;
  border: 1px solid #e0dfda;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  padding: 40px;
  margin-left: 30px;
}

.medidas {
  color: #363838;
  position: relative;
}

.medidas button {
  transition: all 0.2s ease;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #dae0e0;
}

.medidas button:hover {
  border: 1px solid rgba(154, 112, 196, 0.5);
  color: #9a70c4;
  background: rgba(154, 112, 196, 0.05);
}

ul {
  background: #f8fafa;
  border: 1px solid #e0dfda;
  position: absolute;
  bottom: 100%;
  color: #313131;
  display: none;
  width: 100%;
}

.unidade ul {
  overflow-y: scroll;
  max-height: 180px;
}

li {
  cursor: pointer;
  padding: 10px;
  list-style: none;
  transition: all 0.2s ease;
}

li:hover {
  background: #f0f0eb;
}

.unidades-container {
  display: flex;
}

.unidade {
  position: relative;
  flex: 1;
}

.unidade button {
  border: 1px solid #dae0e0;
  border-radius: 5px;
  color: #313131;
  padding: 15px;
  width: 150px;
  text-align: center;
  display: block;
  transition: all 0.2s ease;
}

.unidade button:hover {
  border: 1px solid rgba(154, 112, 196, 0.5);
  color: #9a70c4;
  background: rgba(154, 112, 196, 0.05);
}

li.ativo {
  background: #f0f0eb;
}

input {
  background: rgba(154, 112, 196, 0.05);
  border: 1px solid #dae0e0;
  border-radius: 5px;
  outline: 0;
  padding: 15px;
  width: 100%;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  margin: 20px 0;
}

input:hover,
input:focus {
  border: 1px solid rgba(154, 112, 196, 0.5);
}

input::placeholder {
  color: #8f8f8f;
}

.trocar {
  background: linear-gradient(180deg, #9a70c4 0%, #543784 100%);
  color: #f0f0eb;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  display: block;
  text-align: center;
  margin: 20px 0;
  transition: all 0.2s ease;
}

.trocar img {
  margin-left: 10px;
}

.trocar:hover {
  outline: 3px solid rgba(154, 112, 196, 0.5);
}

.resultado {
  color: #7e7e7e;
  font-size: 1.2rem;
}

.para {
  padding: 0 10px;
}

.para img {
  transform: rotate(-90deg);
  width: 20px;
  margin-top: 15px;
}

@media all and (max-width: 1050px) {
  h1 {
    font-size: 48px;
  }
}

@media all and (max-width: 800px) {
  .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .conversor-container {
    margin-top: 50px;
    margin-left: 0;
    width: 450px;
    padding: 30px;
  }

  ul {
    text-align: left;
  }

  .unidades-container {
    flex-direction: column;
  }

  .unidade button {
    width: 100%;
  }

  .para {
    padding: 5px;
  }

  .para img {
    transform: rotate(0deg);
    margin-top: 4px;
  }
}

@media all and (max-width: 500px) {

  .medidas button,
  .conversor-container {
    width: 100%;
  }
}

@media all and (min-width: 1700px) {
  body {
    font-size: 22px;
  }

  .unidade button {
    width: 200px;
  }

  .container {
    max-width: 1000px;
  }
}